In [0]:
# importing libraries

import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer

In [0]:
data = pd.read_csv("/content/sample_data/Data.csv")

In [19]:
data.head(5)

  CODE_GENDER NAME_INCOME_TYPE  ... DAYS_LAST_PHONE_CHANGE TARGET
0           M          Working  ...                 1134.0    1.0
1           F    State servant  ...                  828.0    0.0
2           F          Working  ...                  617.0    0.0
3           M          Working  ...                 1106.0    0.0
4           M    State servant  ...                 2536.0    0.0

[5 rows x 17 columns]

In [20]:
# Checking the shape of data

data.shape

(152222, 17)

In [21]:
# Checking how many values in each column is missing

data.isnull().sum().sort_values(ascending = False)

OCCUPATION_TYPE           48642
TARGET                        1
ORGANIZATION_TYPE             1
REG_CITY_NOT_WORK_CITY        1
REG_CITY_NOT_LIVE_CITY        1
DAYS_LAST_PHONE_CHANGE        1
DAYS_EMPLOYED                 0
NAME_INCOME_TYPE              0
NAME_EDUCATION_TYPE           0
NAME_FAMILY_STATUS            0
DAYS_BIRTH                    0
FLAG_EMP_PHONE                0
DAYS_REGISTRATION             0
DAYS_ID_PUBLISH               0
FLAG_WORK_PHONE               0
FLAG_PHONE                    0
CODE_GENDER                   0
dtype: int64

In [22]:
# Checking the percentage of missing values.

data.isnull().mean().sort_values(ascending = False)*100

OCCUPATION_TYPE           31.954645
TARGET                     0.000657
ORGANIZATION_TYPE          0.000657
REG_CITY_NOT_WORK_CITY     0.000657
REG_CITY_NOT_LIVE_CITY     0.000657
DAYS_LAST_PHONE_CHANGE     0.000657
DAYS_EMPLOYED              0.000000
NAME_INCOME_TYPE           0.000000
NAME_EDUCATION_TYPE        0.000000
NAME_FAMILY_STATUS         0.000000
DAYS_BIRTH                 0.000000
FLAG_EMP_PHONE             0.000000
DAYS_REGISTRATION          0.000000
DAYS_ID_PUBLISH            0.000000
FLAG_WORK_PHONE            0.000000
FLAG_PHONE                 0.000000
CODE_GENDER                0.000000
dtype: float64

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152222 entries, 0 to 152221
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CODE_GENDER             152222 non-null  object
 1   NAME_INCOME_TYPE        152222 non-null  object
 2   NAME_EDUCATION_TYPE     152222 non-null  object
 3   NAME_FAMILY_STATUS      152222 non-null  object
 4   DAYS_BIRTH              152222 non-null  int64
 5   DAYS_EMPLOYED           152222 non-null  int64
 6   DAYS_REGISTRATION       152222 non-null  int64
 7   DAYS_ID_PUBLISH         152222 non-null  int64
 8   FLAG_EMP_PHONE          152222 non-null  int64
 9   FLAG_WORK_PHONE         152222 non-null  int64
 10  FLAG_PHONE              152222 non-null  int64
 11  OCCUPATION_TYPE         103580 non-null  object
 12  REG_CITY_NOT_LIVE_CITY  152221 non-null  float64
 13  REG_CITY_NOT_WORK_CITY  152221 non-null  float64
 14  ORGANIZATION_TYPE       152221 non-null  object
 15  DAYS_LAST_PHONE_CHANGE  152221 non-null  float64
 16  TARGET                  152221 non-null  float64
dtypes: float64(4), int64(7), object(6)
memory usage: 19.7+ MB

In [24]:
# group data by Target 
# and find nulls for OCCUPATION_TYPE

data['occupation_type_null'] = np.where(data.OCCUPATION_TYPE.isnull(), 1, 0)
data.groupby(['TARGET'])['occupation_type_null'].mean()

TARGET
0.0    0.325535
1.0    0.254483
Name: occupation_type_null, dtype: float64

In [25]:
# 1.Deleting Rows

data1= data.copy()
data1.dropna(inplace=True)
data1.isnull().sum()

CODE_GENDER               0
NAME_INCOME_TYPE          0
NAME_EDUCATION_TYPE       0
NAME_FAMILY_STATUS        0
DAYS_BIRTH                0
DAYS_EMPLOYED             0
DAYS_REGISTRATION         0
DAYS_ID_PUBLISH           0
FLAG_EMP_PHONE            0
FLAG_WORK_PHONE           0
FLAG_PHONE                0
OCCUPATION_TYPE           0
REG_CITY_NOT_LIVE_CITY    0
REG_CITY_NOT_WORK_CITY    0
ORGANIZATION_TYPE         0
DAYS_LAST_PHONE_CHANGE    0
TARGET                    0
occupation_type_null      0
dtype: int64

In [26]:
# 2. Replacing With Mean/Median/Mode

data2 = data.copy()
data2['OCCUPATION_TYPE'].isnull().sum()

48642

In [27]:
data2['OCCUPATION_TYPE'].mode()

0    Laborers
dtype: object

In [28]:
data2['OCCUPATION_TYPE'].replace(np.NaN,data2['OCCUPATION_TYPE'].mode()).head(15)

0        Laborers
1      Core staff
2        Laborers
3      Core staff
4        Laborers
5     Accountants
6        Managers
7             NaN
8      Core staff
9             NaN
10       Laborers
11        Drivers
12       Laborers
13       Laborers
14        Drivers
Name: OCCUPATION_TYPE, dtype: object

In [29]:
data2.isnull().sum()

CODE_GENDER                   0
NAME_INCOME_TYPE              0
NAME_EDUCATION_TYPE           0
NAME_FAMILY_STATUS            0
DAYS_BIRTH                    0
DAYS_EMPLOYED                 0
DAYS_REGISTRATION             0
DAYS_ID_PUBLISH               0
FLAG_EMP_PHONE                0
FLAG_WORK_PHONE               0
FLAG_PHONE                    0
OCCUPATION_TYPE           48642
REG_CITY_NOT_LIVE_CITY        1
REG_CITY_NOT_WORK_CITY        1
ORGANIZATION_TYPE             1
DAYS_LAST_PHONE_CHANGE        1
TARGET                        1
occupation_type_null          0
dtype: int64

In [0]:
# 3. Since the percentage of missing values is nearly 1/3 of whole dataset, it is not wise to drop this much amount of data.
# Strategy of Imputing with 'constant value'.

imp = SimpleImputer(strategy='constant', fill_value='Missing')
data_without_missing = pd.DataFrame(imp.fit_transform(data))
data_without_missing.columns=data.columns
data_without_missing.index=data.index

In [31]:
data_without_missing.OCCUPATION_TYPE.value_counts()

Missing                  48642
Laborers                 27546
Sales staff              15423
Core staff               13401
Managers                 10214
Drivers                   9396
High skill tech staff     5411
Accountants               4746
Medicine staff            4313
Security staff            3409
Cooking staff             2979
Cleaning staff            2286
Private service staff     1287
Low-skill Laborers        1043
Waiters/barmen staff       644
Secretaries                639
Realty agents              355
HR staff                   263
IT staff                   224
L                            1
Name: OCCUPATION_TYPE, dtype: int64

# 4. Predicting The Missing Values using Multiclass predictor in this example.

# 5. Using the algorithms which works well with missing values. e.g KNN Imputer