In [ ]:
# Ref: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [1]:
# Loading the libraries

import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [3]:
# Loading the dataset

data = pd.read_csv("C:\\Users\\Amit\\Dropbox\\Data.csv")

In [4]:
# Viewing the dataset

data.head()

,CODE_GENDER,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_PHONE,OCCUPATION_TYPE,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,DAYS_LAST_PHONE_CHANGE,TARGET
0,M,Working,Secondary / secondary special,Single / not married,9461,637,3648.0,2120,1,0,1,Laborers,0,0,Business Entity Type 3,1134,1
1,F,State servant,Higher education,Married,16765,1188,1186.0,291,1,0,1,Core staff,0,0,School,828,0
2,F,Working,Secondary / secondary special,Civil marriage,19005,3039,9833.0,2437,1,0,0,Laborers,0,0,Business Entity Type 3,617,0
3,M,Working,Secondary / secondary special,Single / not married,19932,3038,4311.0,3458,1,0,0,Core staff,0,1,Religion,1106,0
4,M,State servant,Secondary / secondary special,Married,16941,1588,4970.0,477,1,1,1,Laborers,0,0,Other,2536,0

In [5]:
# SHape of dataset
data.shape

(278232, 17)

In [6]:
# Columns present in the dataset

data.columns

Index(['CODE_GENDER', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_EMP_PHONE',
       'FLAG_WORK_PHONE', 'FLAG_PHONE', 'OCCUPATION_TYPE',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE',
       'DAYS_LAST_PHONE_CHANGE', 'TARGET'],
      dtype='object')

In [7]:
# Independent features

data_X = data.drop(columns=['TARGET'],axis=1)

In [8]:
# Dependent feature

data_y = data['TARGET']

In [9]:
# Split the dataset into train and test sets
# Example : Train 70% and Test 30%

X_train, X_test, y_train, y_test = train_test_split(data_X, data_y, test_size=0.30, random_state=1)

In [12]:
print('Shape of original dataset :',data.shape)
print('Shape of X_train after split :',X_train.shape)
print('Shape of y_train after split :',y_train.shape)
print('Shape of X_test after split :',X_test.shape)
print('Shape of y_test after split :',y_test.shape)

Shape of original dataset : (278232, 17)
Shape of X_train after split : (194762, 16)
Shape of y_train after split : (194762,)
Shape of X_test after split : (83470, 16)
Shape of y_test after split : (83470,)

In [17]:
# In case if we want to split the overall data( Unsupervised Learning)
# default shuffle=True

train,test = train_test_split(data, test_size=0.30, random_state=1,shuffle=True,stratify=data['TARGET'])

In [18]:
print('Shape of original dataset :',data.shape)
print('Shape of train after split :',train.shape)
print('Shape of test after split :',test.shape)

Shape of original dataset : (278232, 17)
Shape of train after split : (194762, 17)
Shape of test after split : (83470, 17)